/* main role  */

body{
    background-color: #f4f4f4;
}

/* bootstarp edit */
.upper-nav{
    margin-bottom: 5px;
}
.upper-nav .login{
    margin: 5px 10px;
}
.upper-nav img.img-circle{
    width: 30px;
    padding: 0

}
.upper-nav .btn{
    padding: 0;
}
.upper-nav  .btn-group>.btn:first-child{
    margin-left: 0;
    padding: 1px 34px
}
.navbar-nav .dropdown-menu{
    margin-top: 7px;
    background-color: #343a40;
    font-size: 15px;
}
.dropdown-item{
    color: #d8dde1
}
.thumbnail{
    padding: 0;
    background-color: #dee2e6
}

 .img-thumbnail{
    padding: 0;
}
.thumbnail .caption{
    position: relative;
}
.thumbnail .add-by{
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 15px;
    color: #ada1a1;
}

/* form Edit members */
/* start categories page */
.categories .price{
    padding: 0px 16px;
    top: 8px;
    background: #b9b1b1;
    position: absolute;
    color: #fbf8f8;
}
.categories .name{
    color: #949494;
    font-weight: bold;
}
.categories .description{
    color: #949494;
    
}
/* End categories page */

/* login page */
.login-page input{
    margin: 10px auto;
    max-width: 400px;
}
.login-page .signup{
    display: none
}
/* .login-page .active{
    color: #f36868;
} */
.login-page span{
    cursor: pointer;
    color: #9da5ad
}
.login-page [data-class="signup"].active{
    color:#28a745;
}
.login-page [data-class="login"].active{
    color:#007bff;
}

/* End login page */
/* start index */
.pull-right{
    display: block;
    text-align: right
}
/* End index */

/* start profile */
.information .panel-primary {
    background-color: #f4f4f4;
}
.information ul.list-unstyled li{
    padding: 10px;
}
.information ul.list-unstyled li:nth-child(odd) {
    
    background-color: #EEE
}
.information .info-head{
    position: relative;
    top: -5px;
}
/* End profile */
/* ads */
 .price{
    padding: 0px 16px;
    top: 8px;
    background: #b9b1b1;
    position: absolute;
    color: #fbf8f8;
}
.ads .approval{
    padding: 3px 18px;
    top: 30px;
    position: absolute;
    background-color: #d69090;
    color: #FFF;
    
}
.ads .add-date{
    font-size: 11px;
    color: #ada1a1;
    margin: -4px;
    
}
/* End ads */
/* index page */
.item .panel-body{
    background: #f4f4f4;
}

.item .item-ul li{
    padding: 5px;
    margin-bottom: 5px;
}

.item .item-ul li:nth-child(odd){
background-color: #EEE
}

.item .item-ul li span{
    margin-right: 22px;
    display: inline-block;
    width: 60px;
}
.item .add-date{
    font-size: 15px;
    color: #ada1a1;
    margin: -4px;
    text-align: right
}

.comment  textarea{
    display: block;
    width: 430px;
    height: 70px;
}

.comment form  .btn{
 margin: 10px 0;
}
.comment .center-block {
    max-width: 100px;
}
.comment-row .comment-content .lead{
    
    position: relative;
    padding: 10px;
    margin: 27px 0px;
    overflow-x: initial;
    color: #888080;
    background-color: #EEE
}
.comment-row .comment-content .lead:before{
    content: "";
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #EEE transparent transparent;
    position: absolute;
    left: -29px;
    top: 9px;
}
.comment-row .img-thumbnail {
    padding: 0;
    width: 50%;
}
.comment-row .avater-info p:first-child{
    color: #007bff;
    font-size: 16px;
}
.comment-row .avater-info p:last-child{
    color: #776e6e;
    font-size: 12px;
}
/* End index page */