/* main role  */
body{
    background-color: #f4f4f4;
}

/* bootstarp edit */
.upper-nav .login{
    margin: 5px 10px;
}
.navbar-nav .dropdown-menu{
    margin-top: 7px;
    background-color: #343a40;
    font-size: 15px;
}
.dropdown-item{
    color: #d8dde1
}

/* form Edit members */
/* start categories page */
.categories .price{
    padding: 0px 16px;
    top: 8px;
    background: #b9b1b1;
    position: absolute;
    color: #fbf8f8;
}
.categories .name{
    color: #949494;
    font-weight: bold;
}
.categories .description{
    color: #949494;
    
}
/* End categories page */

/* login page */
.login-page input{
    margin: 10px auto;
    max-width: 400px;
}
.login-page .signup{
    display: none
}
/* .login-page .active{
    color: #f36868;
} */
.login-page span{
    cursor: pointer;
    color: #9da5ad
}
.login-page [data-class="signup"].active{
    color:#28a745;
}
.login-page [data-class="login"].active{
    color:#007bff;
}

/* End login page */
/* start index */
.pull-right{
    display: block;
    text-align: right
}
/* End index */

/* start profile */
.information ul.list-unstyled li{
    padding: 10px;
}
.information ul.list-unstyled li:nth-child(odd) {
    
    background-color: #EEE
}
.information .info-head{
    position: relative;
    top: -5px;
}
/* End profile */
/* ads */
 .price{
    padding: 0px 16px;
    top: 8px;
    background: #b9b1b1;
    position: absolute;
    color: #fbf8f8;
}

/* End ads */
/* item page */
.item  .thumbnail{
    border: none
}
.item .item-ul li{
    padding: 5px;
    margin-bottom: 5px;
}

.item .item-ul li:nth-child(odd){
background-color: #EEE
}

.item .item-ul li span{
    margin-right: 22px;
    display: inline-block;
    width: 60px;
}

.comment  textarea{
    display: block;
    width: 430px;
    height: 70px;
}

.comment form  .btn{
 margin: 10px 0;
}
/* End item page */